# Which environment this process is running in: local | ci | prod
APP_ENV=local

# DEBUG | INFO | WARNING | ERROR
LOG_LEVEL=INFO

OLLAMA_BASE_URL=http://localhost:11435

OLLAMA_MODEL=ilsp/llama-krikri-8b-instruct

REQUEST_TIMEOUT=30